/** {
  font-family: "Roboto" !important;
}
*/
.t720__title, .big_txt {
  font-size: 60px;
}

.first_block_cont {
  height: 600px;
  background-image: url("https://static.tildacdn.com/tild3931-6235-4663-a465-373031376434/-/resize/20x/IMG_5194.jpg");
}

.first_block {
  height: 600px;
  position: relative;
  z-index: 1;
}

.t422__wrapper {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.header .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t-rec {
  margin-top: 10px;
}

#rec224325205, #rec224370090 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t017__uptitle {
  padding-bottom: 10px;
}

.t-uptitle_md, .t815__logo-descr {
  text-transform: uppercase;
}

.t-submit {
  background-color: #F14635;
  color: #ffffff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.t422__wrapper img {
  max-width: 230px;
}

.t578__title {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .t-heading_md {
    font-size: 22px;
  }

  .header {
    flex-direction: column;
  }

  .t422__wrapper {
    flex-direction: column;
  }
  .t422__wrapper img {
    max-width: 100%;
  }

  .big_txt {
    font-size: 25px;
  }

  .t815__maincontainer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .t720__title {
    font-size: 25px;
  }

  .first_block_cont, .first_block {
    height: 400px;
  }

  .t-rec_pt_165 {
    padding-top: 20px !important;
  }

  #rec224374856, #rec224373850 {
    padding-bottom: 20px !important;
  }

  #rec224387049 {
    padding-bottom: 40px !important;
  }

  #rec224378221 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .t578 .t-sociallinks {
    margin-top: 0;
  }

  .t578__text {
    display: flex;
    flex-direction: column;
  }
  .t578__text strong {
    font-size: 25px;
  }
  .t578__text span {
    font-weight: bold;
  }
}
#rec224385533, #rec224387049, #rec224317127, #rec224388402 {
  margin-top: 0 !important;
}

#rec224323420 input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 input::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 input:-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 textarea:-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}

#rec224323420 textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
}
